body {
    background: linear-gradient(135deg, rgba(3,7,4,1) 0%, rgba(6,15,8,1) 100%);
    color: white;
    font-family: 'Work Sans';
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px;
}
#logo {
    width: 300px;
}
h1 {
    text-transform: uppercase;
    font-size: 100px;
}
.liens {
    text-decoration: none;
    font-family: 'Work Sans';
    font-size: 21px;
}
  